#Data Set Up

In [0]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [0]:
# Create DataFrame object
train = train = pd.read_csv('citibikenyc_customer_data.csv')

In [6]:
# Display beginning of Dataframe
train.head()

             0                        1   ...    20         21
0  tripduration                starttime  ...  hour  over30min
1          2188  2016-09-23 19:09:47 UTC  ...    19        yes
2          1526  2016-09-05 22:26:35 UTC  ...    22         no
3          1382  2016-09-17 17:52:26 UTC  ...    17         no
4          1551  2016-09-04 09:52:06 UTC  ...     9         no

[5 rows x 22 columns]

#Create Model

In [0]:
# features and target
target = 'over30min'
features = ['start_station_id', 'end_station_id', 'gender', 'dayofweek']

In [0]:
# X matrix, y vector
X = train[features]
y = train[target]

In [13]:
# model 
model = LogisticRegression()
model.fit(X, y)
model.score(X,y)

0.845625

In [14]:
train.head()

0 tripduration                starttime  ... hour over30min
1         2188  2016-09-23 19:09:47 UTC  ...   19       yes
2         1526  2016-09-05 22:26:35 UTC  ...   22        no
3         1382  2016-09-17 17:52:26 UTC  ...   17        no
4         1551  2016-09-04 09:52:06 UTC  ...    9        no
5         3073  2016-09-10 10:38:18 UTC  ...   10       yes

[5 rows x 22 columns]

# Pickle Model

In [0]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))