#System Setup

In [0]:
!pip install --upgrade -q gspread

In [0]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

#Data Set Up

In [0]:
# Download data from Google Drive
wks = gc.open_by_url('https://docs.google.com/spreadsheets/d/1IpPsg0TLELx_f32W8Fgj8cZVeVicwr9pIYIZweCleAA/edit?usp=sharing').get_worksheet(0)
recipients = wks.get_all_values()

In [0]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [0]:
# Create DataFrame object
dataframe = pd.DataFrame.from_records(recipients)

In [6]:
# Display beginning of Dataframe
dataframe.head()

             0                        1   ...    20         21
0  tripduration                starttime  ...  hour  over30min
1          2188  2016-09-23 19:09:47 UTC  ...    19        yes
2          1526  2016-09-05 22:26:35 UTC  ...    22         no
3          1382  2016-09-17 17:52:26 UTC  ...    17         no
4          1551  2016-09-04 09:52:06 UTC  ...     9         no

[5 rows x 22 columns]

In [7]:
print(dataframe.shape)

(16001, 22)

In [8]:
# need to update dataframe to have column headers
dataframe.columns = dataframe.iloc[0]
dataframe = dataframe[1:]

# Validate Dataframe columns
list(dataframe.columns.values)

['tripduration',
 'starttime',
 'stoptime',
 'start_station_id',
 'start_station_name',
 'start_station_latitude',
 'start_station_longitude',
 'end_station_id',
 'end_station_name',
 'end_station_latitude',
 'end_station_longitude',
 'bikeid',
 'usertype',
 'birth_year',
 'gender',
 'distance',
 'minutes',
 'age',
 'season',
 'dayofweek',
 'hour',
 'over30min']

In [9]:
# Descriptive statistics of Essentials Dataframe
dataframe.describe()

0      tripduration                starttime  ...   hour over30min
count         16000                    16000  ...  16000     16000
unique         3066                    15718  ...     24         2
top            1067  2016-08-23 22:10:43 UTC  ...     14        no
freq             21                        3  ...   1538     13530

[4 rows x 22 columns]

#Create Model

In [0]:
# create train df
train = dataframe

In [0]:
# features and target
target = 'over30min'
features = ['start_station_id', 'end_station_id', 'gender', 'dayofweek']

In [0]:
# X matrix, y vector
X = train[features]
y = train[target]

In [13]:
# model 
model = LogisticRegression()
model.fit(X, y)
model.score(X,y)

0.845625

In [14]:
train.head()

0 tripduration                starttime  ... hour over30min
1         2188  2016-09-23 19:09:47 UTC  ...   19       yes
2         1526  2016-09-05 22:26:35 UTC  ...   22        no
3         1382  2016-09-17 17:52:26 UTC  ...   17        no
4         1551  2016-09-04 09:52:06 UTC  ...    9        no
5         3073  2016-09-10 10:38:18 UTC  ...   10       yes

[5 rows x 22 columns]

# Pickle Model

In [0]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))